@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-transparent overflow-hidden text-white;
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* Xel reset, why do they modify default tags anyway...? */
body img {
    display: unset;
    height: unset;
    margin: unset;
    max-width: unset;
    box-sizing: unset;
    background: unset;
    border-width: unset;
    border-style: unset;
    border-color: unset;
    user-select: unset;
    -webkit-user-modify: unset;
}

.generic-hover {
    @apply hover:brightness-90 transition duration-200;
}

.input-animation {
    @apply before:transition-transform before:duration-200 before:ease-in-out before:scale-x-0 focus:before:scale-x-100;
}

.opening-transition {
    transition: width 300ms, scale 300ms;
    @starting-style {
        width: 40%;
    }
}